<div class="row row-content">
  <div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Overview</div>
        </div>
        <div class="panel-body">
          <p>This web application was developed for the Capstone Project of the <a href="https://www.coursera.org/specializations/full-stack">Full Stack Web Development Specialization</a> set of courses provided by <a href="https://www.coursera.org">coursera</a>.</p>
          <h4>Functionality</h4>
          <p>The purpose of the CanvassTrac application suite is to provide an application that may be utilised during elections to allow a campaign to collect and track the results of canvasses.</p>
          <p>The application suite consists of three individual elements:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-hand-o-right"></i>A server application</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>A management web application<br>To facilitate the creation and configuration of canvasses and their associated surveys.</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>A mobile client application<br>For the use of canvassers on the ground to collect voter data.</li>
          </ul>
          <p>The list of currently supported features of the web application are as follows:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-hand-o-right"></i>User login</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>User management<br>Including user creation and control.</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>Canvass configuration<br>Canvasses may be created and configured, allowing the assignment of addresses to individual canvassers.</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>Survey configuration<br>Allowing the configuration of a set of specific questions to gather answers on.</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>Canvass result analysis<br>Providing details of the results collected by the canvassers.</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>Feedback submission</li>
          </ul>
          <p>The list of currently supported features of the mobile application are as follows:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-hand-o-right"></i>User login</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>Download of assigned canvass route and survey information.</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>Mapping service<br>To allow canvassers to quickly and efficiently cover their assigned canvass route.</li>
            <li><i class="fa-li fa fa-hand-o-right"></i>Survey response entry<br>In order to allow the campaign team to accurately monitor campaign progress.</li>
          </ul>
        </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">Server application</div>
          </div>
          <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Tech stack</dt>
                <dd>Node.js</dd>
                <dd>MongoDB</dd>
                <dd>Express</dd>
                <dt>Code</dt>
                <dd><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/ibuttimer/canvasstrac-server">&nbsp;GitHub</a></dd>
             </dl>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">Management application</div>
          </div>
          <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Tech stack</dt>
                <dd>AngularJS</dd>
                <dt>Code</dt>
                <dd><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/ibuttimer/canvasstrac-mgmt">&nbsp;GitHub</a></dd>
             </dl>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">Mobile application</div>
          </div>
          <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Tech stack</dt>
                <dd>Ionic</dd>
                <dt>Code</dt>
                <dd><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/ibuttimer/canvasstrac-mobile">&nbsp;GitHub</a></dd>
                <dt>App</dt>
                <dd><a href='https://play.google.com/store/apps/details?id=ie.ianbuttimer.canvasstrac&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="height:40px;"/></a></dd>
             </dl>
          </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">Acknowledgements</div>
        </div>
        <div class="panel-body">
          <p>The following third party resources have been used in this application:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://angularjs.org/">AngularJS</a></li>
            <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://github.com/HackedByChinese/ng-idle">Ng-Idle</a></li>
            <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://github.com/likeastore/ngDialog">ngDialog</a></li>
            <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://jtblin.github.io/angular-chart.js">Angular Chart</a></li>
            <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://angular-ui.github.io/bootstrap">UI Bootstrap</a></li>
            <li><i class="fa-li fa fa-thumbs-o-up"></i>Man graphic by <a href="http://www.flaticon.com/authors/freepik">freepik</a> from <a href="http://www.flaticon.com">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
