<div class="ngdialog-message">
  <div class="row row-content">
    <div class="">
      <h3>{{getTitle()}}</h3>
    </div>
    <div class="row" ng-if="debug.show">
      <p><code>{{ngDialogData.question._id}}</code></p>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
      <form role="form" name="questionForm" novalidate>
        <div class="form-group col-sm-12" ng-class="{ 'has-error has-feedback' : questionForm.type.$error.required && !questionForm.type.$pristine }">
          <label for="type" class="col-sm-3 control-label">Type</label>
          <div class="col-sm-9">
<!--
            <select class="form-control" id="type" name="type" ng-model="ngDialogData.question.type" ng-disabled="editDisabled" ng-change="selectedItemChanged('qtype', ngDialogData.question)" required>
              <option ng-repeat="type in questionTypes" value="{{type.type}}">{{type.name}}</option>
            </select>
-->
            <select class="form-control" id="type" name="type" ng-model="ngDialogData.question.type" ng-disabled="editDisabled" ng-change="selectedItemChanged('qtype', ngDialogData.question)"
                    
            ng-options="type.name for type in questionTypes track by type.type"
                    
                    required>
            </select>
            
            
            
            <span ng-show="questionForm.type.$error.required && !questionForm.type.$pristine" 
                  class="help-block">Question type selection is required.</span>
          </div>
        </div>

        <div class="form-group col-sm-12" ng-class="{ 'has-error has-feedback' : questionForm.question.$error.required && !questionForm.question.$pristine }">
          <label for="question" class="col-sm-3 control-label">Question</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3" id="question" name="question" placeholder="Enter question" ng-model="ngDialogData.question.question" ng-disabled="editDisabled" required>
            </textarea>
            <span ng-show="questionForm.question.$error.required && !questionForm.question.$pristine" 
                  class="help-block">Question is required.</span>
          </div>
        </div>

        <div class="form-group col-sm-12" ng-class="{ 'has-error has-feedback' : questionForm.numoptions.$error.required && !questionForm.numoptions.$pristine }" ng-show="showNumOptions">
          <label for="numoptions" class="col-sm-6 control-label">Number of  Options</label>
          <div class="col-sm-3">
            <select class="form-control" id="numoptions" name="numoptions" ng-model="ngDialogData.question.numoptions" ng-disabled="editDisabled" ng-change="selectedItemChanged('numopts', ngDialogData.question)"
                    ng-options="n for n in ngDialogData.question.type.range track by n"
                    required>
            </select>
          </div>
        </div>

        <div class="form-group col-sm-12" ng-class="{ 'has-error has-feedback' : questionForm.options.$error.required && !questionForm.options.$pristine }" ng-show="showNumOptions">
          <label for="options" class="col-sm-3 control-label">Options</label>
        
          <div class="col-sm-9" ng-repeat="opt in ngDialogData.question.options track by $index" ng-class="{ 'col-sm-push-3' : $index > 0 }">
            <div class="col-sm-2" ng-show="showRankingNumber">{{$index + 1}}</div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="options" name="options" placeholder="Enter option {{$index + 1}}" ng-model="ngDialogData.question.options[$index]" ng-disabled="editDisabled" ng-required="isRequired($index, ngDialogData.question.options)">
              <span ng-show="(canvassForm.options.$invalid || canvassForm.options.$error.required) &&
                              !canvassForm.options.$pristine"
               class="help-block">Enter an option.</span>
            </div>
          </div>

          
        </div>

        <button type="submit" class="btn btn-info btn-sm" ng-disabled="questionForm.$invalid" ng-click="closeThisDialog(ngDialogData)">{{getOkText()}}</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="closeThisDialog('cancel')">Cancel</button>
      </form>
    </div>
  </div>
</div>
