<div class="form-group col-sm-12">
  <label for="addr" class="control-label col-sm-3">Address&nbsp;&nbsp;</label>
  <input type="text" class="form-control" id="addr" name="addr" placeholder="Enter address" ng-model="ngDialogData.filter.addr">
</div>
<div class="form-group col-sm-12">
  <label for="town" class="control-label col-sm-3">Town&nbsp;&nbsp;</label>
  <input type="text" class="form-control" id="town" name="town" placeholder="Enter town" ng-model="ngDialogData.filter.town">
</div>
<div class="form-group col-sm-12">
  <label for="city" class="control-label col-sm-3">City&nbsp;&nbsp;</label>
  <input type="text" class="form-control" id="city" name="city" placeholder="Enter city" ng-model="ngDialogData.filter.city">
</div>
<div class="form-group col-sm-12">
  <label for="county" class="control-label col-sm-3">County&nbsp;&nbsp;</label>
  <input type="text" class="form-control" id="county" name="county" placeholder="Enter county" ng-model="ngDialogData.filter.county">
</div>
<div class="form-group col-sm-12">
  <label for="postcode" class="control-label col-sm-3">Postcode&nbsp;&nbsp;</label>
  <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Enter postcode" ng-model="ngDialogData.filter.postcode">
</div>
