<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="{{homeMenu.sref}}"><img src="images/logo.png" height=30 width=41></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active-eq="active"><a ui-sref="{{homeMenu.sref}}">
          <span class="glyphicon glyphicon-home"
           aria-hidden="true"></span>&nbsp;{{homeMenu.name}}</a>
        </li>
        
        <li ui-sref-active="active"><a ui-sref="{{aboutMenu.sref}}">
          <span class="glyphicon glyphicon-info-sign"
           aria-hidden="true"></span>&nbsp;{{aboutMenu.name}}</a>
        </li>

        <!-- Heroku SparkPost add-on shutdown 15/10/2020, disable email for the moment -->
        <!-- <li ui-sref-active="active"><a ui-sref="{{contactMenu.sref}}">
          <span class="fa fa-envelope-o"
           aria-hidden="true"></span>&nbsp;{{contactMenu.name}}</a>
        </li> -->

        <!-- config menu -->
        <li ng-if="configMenu" role="presentation" class="dropdown" ng-class="{active: inSubstate('{{configMenu.root.sref}}')}" uib-dropdown is-open="status.cfgIsOpen">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-disabled="disabled">
              <span class="{{configMenu.root.icon}}" aria-hidden="true"></span>&nbsp;{{configMenu.root.name}}&nbsp;<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li class="dropdown-header">{{configMenu.votingsysPriv.header}}</li>
            <li role="menuitem" ng-repeat="entry in configMenu.votingsysPriv.items">
              <a ui-sref="{{entry.sref}}">
                <span class="{{entry.icon}}" aria-hidden="true"></span>&nbsp;{{entry.name}}
              </a>
            </li>
            <li class="dropdown-header">{{configMenu.rolesPriv.header}}</li>
            <li role="menuitem" ng-repeat="entry in configMenu.rolesPriv.items">
              <a ui-sref="{{entry.sref}}">
                <span class="{{entry.icon}}" aria-hidden="true"></span>&nbsp;{{entry.name}}
              </a>
            </li>
            <li class="dropdown-header">{{configMenu.usersPriv.header}}</li>
            <li role="menuitem" ng-repeat="entry in configMenu.usersPriv.items">
              <a ui-sref="{{entry.sref}}">
                <span class="{{entry.icon}}" aria-hidden="true"></span>&nbsp;{{entry.name}}
              </a>
            </li>
            <li class="dropdown-header">{{configMenu.noticePriv.header}}</li>
            <li role="menuitem" ng-repeat="entry in configMenu.noticePriv.items">
              <a ui-sref="{{entry.sref}}">
                <span class="{{entry.icon}}" aria-hidden="true"></span>&nbsp;{{entry.name}}
              </a>
            </li>
          </ul>
        </li>

        <!-- campaign menu -->
        <li ng-if="campaignMenu" role="presentation" class="dropdown" ng-class="{active: inSubstate('{{campaignMenu.root.sref}}')}" uib-dropdown is-open="status.cmpgnIsOpen">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-disabled="disabled">
            <span class="{{campaignMenu.root.icon}}" aria-hidden="true"></span>&nbsp;{{campaignMenu.root.name}}&nbsp;<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li class="dropdown-header">{{campaignMenu.electionsPriv.header}}</li>
            <li role="menuitem" ng-repeat="entry in campaignMenu.electionsPriv.items">
              <a ui-sref="{{entry.sref}}">
                <span class="{{entry.icon}}" aria-hidden="true"></span>&nbsp;{{entry.name}}
              </a>
            </li>
            <li class="dropdown-header">{{campaignMenu.candidatesPriv.header}}</li>
            <li role="menuitem" ng-repeat="entry in campaignMenu.candidatesPriv.items">
              <a ui-sref="{{entry.sref}}">
                <span class="{{entry.icon}}" aria-hidden="true"></span>&nbsp;{{entry.name}}
              </a>
            </li>
            <li class="dropdown-header">{{campaignMenu.canvassesPriv.header}}</li>
            <li role="menuitem" ng-repeat="entry in campaignMenu.canvassesPriv.items">
              <a ui-sref="{{entry.sref}}">
                <span class="{{entry.icon}}" aria-hidden="true"></span>&nbsp;{{entry.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="debug.devmode">
          <a ng-click="toggleDebug()">
          <i class="fa fa-bug" aria-hidden="true"></i> {{dbgText}}</a>
        </li>
        <!-- Heroku SparkPost add-on shutdown 15/10/2020, disable email for the moment -->
        <!-- <li>
          <a ng-click="openSupport()">
          <i class="fa fa-life-ring" aria-hidden="true"></i> Support</a>
        </li> -->
        <li ng-if="!loggedIn">
          <a ng-click="openLogin()">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li ng-if="loggedIn">
          <a>{{username}}</a>
        </li>
        <li ng-if="loggedIn">
          <a ng-click="logOut()">
          <span class="glyphicon glyphicon-log-in"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>         

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li ng-repeat="crumb in breadcrumb" ng-class="{ active: crumb.active }"><a ng-if="crumb.active" href="{{crumb.href}}">{{crumb.name}}</a><span ng-if="!crumb.active">{{crumb.name}}</span></li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h3 ng-if="stateIs('{{aboutMenu.sref}}')">{{aboutMenu.name}}</h3>
      <hr>
    </div>
  </div>
</div>

