<div class="row">
  <div class="col-sm-9">
    <p>{{addrInfo.addrLine1}} {{addrInfo.addrLine2}} {{addrInfo.addrLine3}}</p>
  </div>
  <div class="col-sm-1">
    <span ng-if="showBadge && addrInfo.canvassDate" class="label" ng-class="addrInfo.labelClass" data-toggle="tooltip" title="Canvassed: {{addrInfo.canvassDate.toDateString()}}">
      <span class="fa fa-clipboard fa-fw" aria-hidden="true"></span>&nbsp;
    </span>
  </div>
  <div class="col-sm-2">
    <span ng-if="showBadge && addrInfo.badge" class="label" ng-class="addrInfo.labelClass" data-toggle="tooltip" title={{addrInfo.canvasserTip}}>
      {{addrInfo.badge}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-10">
    {{addrInfo.town}} {{addrInfo.city}} {{addrInfo.county}}
  </div>
  <div class="col-sm-2">
    {{addrInfo.postcode}}
  </div>
</div>
<div class="row" ng-if="debug.show">
  <p><code>addr: {{addrInfo._id}}</code></p>
  <p ng-if="addrInfo.canvassResult"><code>result: {{addrInfo.canvassResult}}</code></p>
</div>
