<div class="col-sm-12">
  <div class="col-sm-8 col-sm-offset-4">
    <div class="btn-group" role="group">
      <button type="button" class="{{reqBtn.class}}"
              ng-repeat="reqBtn in reqButtons" ng-click="filterList(list,reqBtn)" ng-disabled="editDisabled" data-toggle="tooltip" title="{{reqBtn.tip}}">
        <span class="{{reqBtn.icon}}" aria-hidden="true"></span>&nbsp;{{reqBtn.txt}}
      </button>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-4">
    <p class="text-left">Sort by:</p>
  </div>
  <div class="col-sm-8">
    <select class="form-control" ng-model="list.sortBy" ng-change="sortList(list, pager)"
    ng-options="sortOpt.name for sortOpt in sortOptions track by sortOpt.value">
    </select>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-4">
    <p class="text-left">Selected: {{list.selCount}} of {{list.filterCount}}</p>
  </div>
  <div class="col-sm-8">
    <div class="btn-group" role="group">
      <button type="button" class="{{selBtn.class}}"
              ng-repeat="selBtn in selButtons" ng-click="setItemSel(list,selBtn)" ng-disabled="editDisabled" data-toggle="tooltip" title="{{selBtn.tip}}">
        <span class="{{selBtn.icon}}" aria-hidden="true"></span>&nbsp;{{selBtn.txt}}
      </button>
    </div>
  </div>
</div>
