<div role="tabpanel" class="tab-pane fade in active">
  <form class="form-horizontal" name="surveyForm" role="form" ng-submit="processForm()" novalidate>

    <div class="form-group" ng-class="{ 'has-error has-feedback' : surveyForm.name.$error.required && !surveyForm.name.$pristine }">
      <label for="name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter survey name"
               ng-model="survey.name" ng-disabled="editDisabled" ng-change="onSurveyChange()" required>
        <span ng-show="surveyForm.name.$error.required && !surveyForm.name.$pristine"
              class="help-block">Survey name is required.</span>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error has-feedback' : surveyForm.description.$error.required && !surveyForm.description.$pristine }">
      <label for="description" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="4" id="description" name="description" placeholder="Enter description" ng-model="survey.description" ng-disabled="editDisabled" ng-change="onSurveyChange()" required>
        </textarea>
        <span ng-show="surveyForm.description.$error.required && !surveyForm.description.$pristine"
              class="help-block">Survey description is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Questions</label>
<!--      <div class="col-sm-10 question-list-box">-->
      <div class="col-sm-10">
        <div class="col-sm-10">
          <div class="list-group" ng-if="questions.list.length > 0">
            <button type="button" class="list-group-item" ng-repeat="question in questions.list" ng-class="{active: question.isSelected}" ng-click="toggleQuestionSel(question)">
              <div ng-include="'canvasses/question.element.html'"></div>
            </button>
          </div>
          <div ng-if="questions.list.length === 0">
            <p>No questions configured.</p>
          </div>
        </div>
        <!-- buttons for questions -->
        <div class="col-sm-2">
          <div class="btn-group-vertical" role="group">
            <button type="button" class="{{quesBtn.class}}"
                    ng-repeat="quesBtn in quesButtons" ng-if="showQuesButton(quesBtn,surveyForm)"
                    ng-click="exeQuesButton(quesBtn)" ng-disabled="disableQuesButton(quesBtn,surveyForm)" data-toggle="tooltip" title="{{quesBtn.tip}}">
              <span class="{{quesBtn.icon}}" aria-hidden="true"></span>&nbsp;{{quesBtn.txt}}
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- navigation buttons -->
    <div class="col-sm-12">
      <div ng-controller="SurveyTabNavController">
        <div ng-include="'canvasses/tab.buttons.html'"></div>
      </div>
    </div>
    <br>
    <br>
  </form>
</div>
